node_modules/
dist/
dist-browser-harness/

.DS_Store
Thumbs.db

.env
.env.*
!.env.example

coverage/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.idea/
.vscode/

~$*
._*
.$*
*.swp
